@tailwind base;
@tailwind components;
@tailwind utilities;


thead tr {
    @apply grid grid-cols-4 my-3;
}
tbody tr {
    @apply grid grid-cols-4;
}
tbody tr td {
    width: 100%; height: 100%;
    @apply flex items-center py-4 pl-4;
    border: 1px solid black;
    font-weight: 600;
}

.studentName {
    white-space: nowrap;
    overflow-x : auto;
}


